body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}