button {
    display: block;
    width: 400px;
    height: 100px;
    margin: 50px;
    background: rgb(203, 248, 2);
    color: #000;
    font-size: 26px;
    border: none;
    box-shadow: 2px 4px 5px #444;
}